html, body {
    padding: 0px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authForm {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(50,50,50);
    padding: 100px;
    transition: all 0.2s;
}

.authForm:hover {
    border: 1px solid rgb(90, 90, 90);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(10,10,10);
}

form input[type="submit"] {
    cursor: pointer;
    padding: 20px;
    border: 1px solid rgb(50,50,50);
    transition: all 0.2s;
}

form input[type="submit"]:hover {
    color: black;
    background-color: white;
}


.authForm a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-size: 0.8rem;
    opacity: 0.8;
    transition: all 0.2s;
}

.authForm a:hover {
    opacity: 1;
}
