<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/globals.css">
    <link rel="stylesheet" href="/static/auth.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/icon.ico">
    <title>Authentication</title>
</head>
<body>
    <div class="authForm">
        <form>
            <input type="text" placeholder="login" required id="login" autocomplete="nickname">
            <input type="password" placeholder="password" required id="password" autocomplete="off">
            <input type="submit" value="Login">
        </form>
        <a href="/reg">Don't have account?</a>
    </div>
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/authClient.js" type="module"></script>
</body>
</html>
