<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/globals.css" />
    <link rel="stylesheet" href="/static/auth.css">
    <link rel="icon" href="/media/icon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <div class="authForm">
      <form>
        <input type="text" placeholder="login" required id="login" />
        <input type="password" placeholder="password" required id="password" />
        <input type="password" placeholder="confirm password" required id="confirmPassword"/>
        <input type="submit" value="Create account" />
      </form>
      <a href="/auth">Already have account?</a>
    </div>
    <script src="/static/registrationClient.js" type="module"></script>
  </body>
</html>
